# Jetbrains IDE's

**/.idea/
*.iml
*.ipr
*.iws
**/out/
modules.xml

# Eclipse / Zed IDE's
**/.settings/

# VSCode IDE

**/.vscode/
*.code-worspace
*.history
*.coverage
*.coveragexml

# Visual Studio IDE
**/.vs/
**/Generated\ Files/

# Approval Tests

GoldenMasterTest.*.txt

# Test results
**/_test_results/

# Miscellaneous temporary  and non-text Files

*.bak
*.swp
*.diff
*.patch
*.log
*.tmp
*.zip
*.tar.gz
*.rar
*.jar
.DS_Store
