# Prevents Maven wrapper from failing when launched from git bash on a Windows box
maven-wrapper.properties    text eol=lf
mvnw                        text eof=lf
gradlew                     text eof=lf
