pytest == 7.0.1; python_version < '3.7'
pytest == 7.4.4; python_version >= '3.7'
pytest-parametrization == 2022.2.1
mypy == 0.971; python_version < '3.7'
mypy == 1.4.1; python_version in '3.7'
mypy == 1.8.0; python_version >= '3.8'
