name: Composer

permissions:
  contents: read
  actions: write

on:
  push:
    branches:
      - '**'
    paths:
      - 'php/**'
  workflow_dispatch:
    inputs: { }

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
      - name: Set up Composer
        uses: php-actions/composer@v6
        env:
          COMPOSER: composer.json
        with:
          php_version: '8.4'
          working_dir: .
          container_workdir: /app/php
      - name: Check Syntax
        working-directory: php
        run: vendor/bin/parallel-lint --exclude vendor .
      - name: PHPUnit Tests
        working-directory: php
        run: vendor/bin/phpunit tests
