name: Dotnet

on:
  push:
    branches:
      - '**'
    paths:
      - 'csharp/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up dotnet
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'
      - name: Build
        run: |
          cd csharp
          dotnet build
      - name: Test
        run: |
          cd csharp
          dotnet test  
