name: Stack

on:
  push:
    branches:
      - '**'
    paths:
      - 'haskell/**'
  workflow_dispatch:
    inputs: { }

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.8.1'
          enable-stack: true
          stack-version: 'latest'
      - name: Build
        working-directory: haskell
        run: stack build
      - name: Test
        working-directory: haskell
        run: stack test
